body {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #F8FAFF;
  width: 100vw;
  display: flex;
  justify-content: left;
  gap: 50px;
}

@media (max-width: 420px) {
  .App {
    gap: 10px;
  }
}

